/*COLORES BASE*/
$celeste: #2ab7ca;
$celestehover: #b1e4eb;
$coral: #ee9480;
$coralhover: #f4baae;
$focus: #8f9199;
$casinegro: #221d23;

/*TIPOGRAFIA*/
%bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

%normal {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}