footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $casinegro;
    justify-content: space-around;
    align-items: flex-end;
    

    .legal{
        
        p{
            display: inline-block;
        }
    }
}