nav{
    padding-top: 30px;
    .navmenu{
        
        ul{
            margin-right: auto;
            margin-top: auto;
            
            li{
                display: inline-block;
                padding-left: 20px;
            }
        }
    }

    .navboton{
        margin: auto 50px auto auto;
        display: inline-block;
    }
}